.p-footer {}

.p-footer__blocks {
    @include mq('tab') {
        display: flex;
        justify-content: center;
    }
}

.p-footer__block {
    padding: rem(45) 0 rem(26);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq('tab') {
        width: 50%;
        padding: rem(56) 0 rem(50);
    }
}

.p-footer__block--download {
    background-image: url(../img/img-download.jpg);
}

.p-footer__block--contact {
    background-image: url(../img/img-contact.jpg);
}

.p-footer__inner {}

.p-footer__title {
    text-align: center;
    color: $background;
}

.p-footer__btn {
    margin: rem(40) auto 0;
    width: 100%;
    max-width: rem(295);
    @include mq('tab') {
        max-width: rem(315);
    }
}

.p-footer__bottom {
    padding: rem(65) rem(20) rem(12);
    text-align: center;
    color: $background;
    background: $text-color;
    @include mq('tab') {
        padding: rem(114) rem(20) rem(19);
    }
}

.p-footer__logo {
    max-width: rem(283);
    width: 100%;
    margin: 0 auto;
    @include mq('tab') {
        max-width: rem(369);
    }
}

.p-footer__info {
    margin: rem(23) auto 0;
    width: 100%;
    max-width: rem(235);
    text-align: left;
}

.p-footer__copyright {
    display: inline-block;
    margin-top: rem(40);
    font-size: rem(12);
    @include mq('tab') {
        margin-top: rem(80);
        font-size: rem(14);
    }
}