.c-more-link::before,
.c-more-link::after {
    position: absolute;
    content: "";
    top: 65%;
    right: rem(20);
    transform: translateY(-50%);
    z-index: 2;
}

.c-more-link::before {
    /*下線の形状*/
    width: rem(64);
    height: 2px;
    background: $background;
    /*アニメーションの指定*/
    transition: all .3s;
}

.c-more-link::after {
    /*矢印の形状*/
    top: 40%;
    width: rem(15);
    height: 2px;
    background: $background;
    transform: rotate(35deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

.c-more-link span {
    position: absolute;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    background: transparent;
    border: 1px solid #FFF400;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.c-more-link {
    position: relative;
    display: inline-block;
    font-family: $font-family-second;
    font-size: rem(20);
    line-height: 1;
    padding-right: rem(97);
    color: $background;
}

.c-more-link:hover {
    @include mq('tab') {
        &.c-more-link::before {
            width: rem(74);
            right: rem(10);
        }
        &.c-more-link::after {
            right: rem(10);
        }
    }
}

.c-more-link--rev {
    color: $main;
    @include mq('tab') {
        color: $text-color;
    }
}

.c-more-link--rev span {
    background: #FFF400;
}

.c-more-link--rev::before {
    background: $main;
    @include mq('tab') {
        background: $text-color;
    }
}

.c-more-link--rev::after {
    background: $main;
    @include mq('tab') {
        background: $text-color;
    }
}